.homepage{
    background: #FFE082;
    height: 100vh;
}

.role-button-wrapper button{
    width: 13rem;
}

.register-form{
    width: 80%;
}

input[type="radio"]{
    scale: 1.7;
}

@media only screen and (min-width: 992px) {
    .register-form{
        width: 30%;
    }
}
