<nav class="navbar navbar-dark bg bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Quiz for <span class="fw-bold text-warning" *ngIf="role">{{ role }}</span></a>
    <div class="d-flex gap-2">
      <!-- <button class="btn btn-success me-2" *ngIf="isLast" (click)="submitAnswer()">Submit</button> -->
      <button class="btn btn-warning text-black" [disabled]="isPrevable" (click)="prevQuestion()">Back</button>
      <button class="text-white btn btn-primary" [disabled]="isNextable" (click)="nextQuestion()">Next</button>
    </div>
  </div>
</nav>

<main>
  <app-quiz
   [currentPage]="currentPage"
   [isLast]="isLast"
   [answer]="answers[currentPage - 1]"
   (answerChange)="saveAnswer($event)" 
   (click)="submitAnswer()"
   ></app-quiz>
</main>
